{{- define "main" }}

<article class="home-page">

  <section class="home-hero">

    <div class="home-hero-text">
      <h2>Microbiome(s) and population health; host-microbe &amp; pathogen genomics</h2>
<br>
      <p>
        Welcome to the Méric Lab at the University of Bath. Our group studies host-associated microbiomes, microbial population genomics,
        pathogen evolution, antimicrobial resistance, and population health.
      </p>
<br>
      <p>
        Our work combines microbiology, microbial genomics, metagenomics, bioinformatics, and large-scale
        human population cohorts to understand host-microbe and microbe-microbe interactions in health
        and disease.
      </p>
    </div>

    <div class="home-hero-image">
      <img src="/images/home/group-photo.jpg" alt="Méric Lab group photo">
    </div>

  </section>
  
  <section class="home-affiliations">

    <h2>Affiliations</h2>

<div class="logo-row">
  <a class="logo-bath">
    <img src="/images/logos/ubath.png" alt="University of Bath">
  </a>

  <a class="logo-partners">
    <img src="/images/logos/logos.png" alt="Affiliated institutions">
  </a>
</div>

  </section>

</article>

{{- end }}